* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #fff;
  transition: color 0.1s, border-color 0.1s, opacity 0.1s,
    text-decoration-color 0.1s;
}
.minnavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333333;
  padding: 10px 40px;
}
.social_links {
  flex: 2 0 0;
}
.social_links ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 12px;
  color: #fff;
  flex: 2 0 0;
}
.social_links ul li i {
  font-size: 15px;
  cursor: pointer;
}
.offer_template p {
  color: #fff;
  font-weight: 800;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Futura Std", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
nav {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navabar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f1f0;
  /* color: #171717; */
  padding: 0 40px;
}
.logo img {
  width: 120px;
  padding: 20px 0;
  cursor: pointer;
}
.user_section {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.user_section li {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-family: "Montserrat", sans-serif;
  gap: 10px;
  cursor: pointer;
}

.user_section li p {
  font-size: 10px;
  font-weight: 400;
  color: #2f2f2f;
  font-family: "Roboto", sans-serif;
}
.user_section li i {
  font-size: 20px;
}
.style_section {
  background: #333333;
  padding: 0 40px;
}
.navoption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  /* font-size: 0.82rem; */
  color: #fff;
  width: 80%;
  /* margin-left: auto; */
  margin: auto;

  font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.dropdown {
  font-size: 0.7rem;
  padding: 18px;
  white-space: nowrap;
  /* position: relative; */
  cursor: pointer;
}
.dropdown2{
  font-size: 0.7rem;
  padding: 18px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
.navoption a:hover {
  transition: 0.5s ease;
}
/* .style_section ul li a{
    display: block;
} */

/* .dropdown a:hover {
  /* border-bottom:2px solid #f39c3d; *
  color: #f39c3d;
  transition: all 0.5s ease-in;
} */
.dropdown:hover .dropdown-menu {
  display: block !important;
  /* transition: all 1s ease-in; */
}

.dropdown:hover .dropdown2-menu {
  display: block !important;
  /* transition: all 1s ease-in; */
}
.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100.1%;
  left: 0px;
  background-color: #333;
  list-style: none;
  /* min-width: 150px; */
  width: fit-content;
  border: 0.8px solid gray;
  padding: 10px;
  width: 100%;
}
.dropdown2-menu{
  display: none !important;
  position: absolute;
  top: 100%;
  left:0px;
  background-color: #333;
  list-style: none;
  /* min-width: 150px; */
  width: fit-content;
  border: 0.8px solid gray;
  padding: 10px;
}
.dropdown-menu li {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: start;
  padding: 10px 10px;
  gap: 15px;
}

.dropdown a:hover {
  /* border-bottom:2px solid red; */
  color: #ca573d;
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  /* height: 50vh; */
  /* overflow-x: hidden; */
  
}

.navcontainer img{
  border-radius: 5px;
}
/* .navcontainer a{
  font-size: 10px;
  padding: 0;
} */
.navcontainer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 0 !important;

}
.suboptions {
  display: flex
}
.moreoption-box ul li {
  font-size: 0.82rem;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 80%; */
}
.section-banner img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.banner-section-min {
  padding: 10px 0;
}
.banner-section-min img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;
  height: auto;
  margin: auto;
}
.section-banner .banner2 {
  display: none;
}
.Shop-the-look-container {
  border-bottom: 1px solid;
  width: 100%;
  margin: auto;
  /* padding: 20px 0; */
  overflow-x: hidden;
}
.Shop-the-look {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  gap: 20px;
}
.Shop-the-look h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
}
.video-section {
  display: flex;
  gap: 18px;
  font-size: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-bottom: 30px;
  margin-left: 30px;
}
.videobox {
  position: relative;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  max-height: 500px;
  overflow: hidden;
}
.videobox video {
  width: 100%;
  aspect-ratio: 2.5 / 4;
  object-fit: cover;
}
.product-details {
  width: 100%;
  position: absolute;
  top: 75%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(10px); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.product-details {
  /* width: 70%; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  padding: 0px;
  /* height: 80%; */
  /* padding-left: 10px; */
  color: #333333;
}
.product-details img {
  width: 20%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}
.details {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
}
.details p {
  color: #2f2f2f;
  font-size: 0.9rem;
  font-weight: 900;
  text-wrap: nowrap;
  font-family: "roboto", sans-serif;
}
.details a {
  font-family: "roboto", sans-serif;
}
.shop-now {
  all: unset;
  font-size: 0.8rem;
  color: #ffffff;
  background: #3b3939;
  padding: 8px;
  text-align: center;
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pick-mood-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-bottom: 1px solid;  */
  gap: 20px;
  /* width: 94%; */
  margin: auto;
  /* padding: 20px 0; */
  padding: 40px;
}
.pick-mood-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  /* width: 1300px; */
  /* width: 94%; */
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}

.pick-mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.pick-mood img {
  object-fit: cover;
  border-radius: 3px;
  width: 240px;
}

.pick-mood img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* Collection */
.collection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.collection-list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  margin: auto;
  gap: 24px;
  /* width: 1400px; */
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
.collections-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.collections-wrapper img {
  width: 240px;
  border-radius: 3px;
  object-fit: contain;
}

.collections-wrapper img:hover {
  transform: scale(1.05);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
/* .collections-wrapper img  {
  opacity: 0.6;
  transform: scale(0.9);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
} */

/* On hover or focus, image becomes fully visible and scales up */
/* .collections-wrapper img:hover {
  opacity: 1;
  transform: scale(1);
}  */
.newtoyou-Section {
  padding: 0 40px;
}
.newtoyou-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
.newtoyou-list {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
}
.newtoyou-wrapper img {
  /* width: 280px; */
}
/* .newtoyou-product-details {
} */
.newtoyou-product-details a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  display: inline-block;
  color: #333333;
}
.newtoyou-name {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.newtoyou-Section2 {
}

.newtoyou-container2 {
  margin: auto;
  width: 1340px;
  padding: 0 40px;
}
.header {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.titel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
}
.newtoyou-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;
  gap: 10px;
  margin-top: 40px;
  min-height: 454.8px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.newtoyoubox2-border {
  border-bottom: 1px solid rgb(130, 130, 130);
}
.newtoyou-list2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  overflow: hidden;
  gap: 10px;
  position: relative;
  transition: all 0.5s ease;
}
.newtoyou-list2 img {
  width: 93%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newtoyouOffer {
  position: absolute;
  left: 20px;
  top: 5px;
  background-color: #ef241d;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
}

.newtoyou-list2 :hover + .quickbuy {
  display: block;
  transition: all 0.5s ease;
}
.newtoyou-list2 img:hover {
  transform: scale(0.98);
  transition: opacity 0.6s ease-out, transform 0.4s ease-out;
}
.quickbuy {
  position: absolute;
  bottom: 15%;
  display: none;
  font-size: 16px;
  font-weight: 300;
  color: #3b3838;
  border: 1px solid rgb(230, 220, 220);
  width: 90%;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  /* transition: all 0.5s ease; */
  background-color: #fff;
  cursor: pointer;
}
.newtoyou-product-info {
  display: block;
  color: inherit;
  margin: 10px 0 0;
  font-size: 14px;
  text-align: start;
}

.newtoyou-product-titel {
  /* white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
}
.newtoyou-product-titel {
  font-size: 14px;
  font-family: "roboto", sans-serif;
  margin-bottom: 0.5rem;
  color: #5f5f5f;
}
.newtoyou-product-info p {
  justify-content: flex-start;
}

.theme-money {
  white-space: nowrap;
  margin-inline-end: 0.5rem;
  font-size: 14px;
  font-family: "roboto", sans-serif;
  color: #5f5f5f;
}
.money {
  text-decoration: line-through;
  color: #c3c3c3;
}
.sell {
  color: #ac0a0a;
  font-family: "roboto", sans-serif;
}

/* Image Style */

/* influncer */

.litclub-list {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  justify-content: center;
}
.litclub-list h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.influencer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 5px; */
  /* border-top: 1px solid black; */
  /* padding: 40px 0; */
}
.influencer a {
  width: 23%;
  margin: 0 2px;
  overflow: hidden;
}
.influencer a img {
  width: 100%;
}

/* labour-section */
.labour {
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  /* z-index: 999; */
  opacity: 1;
  padding: 12px 0px;
}
.labour-section {
  background-image: url(img/littleboxMSG.jpg);
  background-position: center center;
  transition: background 0.15s;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  user-select: none;
  width: 100%;
}
.labour-section-mobile {
  display: none;
}
/* gobeyou */

.gobeyou-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.littlebox-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.littlebox-logo img {
  width: 280px;
  object-fit: cover;
  margin-bottom: 1em;
}
.gobeyou {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gobeyou p {
  margin-bottom: 1em;
}

/*  */

.whatweProvide {
  padding: 12px 0px;
}

/* footer */

footer {
  background-color: #313132;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
  padding-top: 60px;
  padding-bottom: 80px;
  border-bottom: 1px solid #5f5f5f;
}
.footer-shop {
  padding: 0 20px;
}
.footer-shop h4 {
  color: #f39c3d;
  margin-bottom: 20px;
  font-size: 24px;
}
.footer-shop ul {
  list-style: none;
  color: #fff;
  font-size: 14px;
}
.footer-shop ul li {
  margin-bottom: 0.5em;
}

.footer-social ul {
  display: flex;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 460px;
  flex-grow: 1;
}
.footer-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin-bottom: 20px;
  transition: background 0.15s;
}
.footer-img img {
  display: block;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 3px;
}

.footer-social ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 20px;
}

.footer-payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: auto;
    margin-right: auto; */
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: nowrap;
  padding-top: 30px;
  padding-bottom: 50px;
}
.footer-payment p {
  color: #fff;
  font-size: 12px;
}
.payment-option ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

@media (min-width: 1024px) {
  .video-section .videobox {
    flex: 0 0 calc(25% - 18px);
  }
}
.miniNav {
  display: none;
}
.tranding-status {
  display: none;
}
.categories-container {
  display: none;
}
@media screen and (max-width: 1200px) {
  .style_section {
    padding: 0 20px;
  }
  .style_section ul {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .collection-section {
    padding: 40px 20px;
  }

  .collections-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
    margin-top: 21px;
  }
  .collections-wrapper img {
    width: 100%;
  }
  .newtoyou-container2 {
    margin: auto;
    width: 1100px;
    padding: 0 40px;
  }
  .whatweProvide img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .newtoyou-container2 {
    margin: auto;
    width: 850px;
    padding: 0 20px;
  }
  .newtoyou-box2 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .minnavbar {
    width: 100%;
  }
  .social_links {
    display: none;
  }
  .offer_template p {
    font-size: 12px;
  }
  nav {
    display: none;
  }
  .miniNav {
    display: block;
    background: #f7f1f0;
  }

  .miniNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  /* .logo img{
    width: 100px;
} */
  .ham {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
  }
  .section-banner .banner1 {
    display: none;
  }

  .tranding-status {
    display: block;
    padding: 5px;
    overflow-y: hidden;
  }
  .tranding-status ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .tranding-status ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* gap: 10px; */
  }
  .tranding-status ul li img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    animation: gradientBorder 3s ease infinite;
  }
  .tranding-status ul li p {
    margin: 0;
    font-size: 10px;
    text-align: center;
    font-weight: 550;
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
    overflow: hidden; /* Optional: hides any overflowing text */
    text-overflow: ellipsis;
  }
  .section-banner .banner2 {
    display: block;
  }
  .banner-section-min {
    display: none;
  }

  .Shop-the-look {
    padding-top: 60px;
  }
  .videobox {
    flex: 0 0 97%;
  }
  .video-section {
    margin-left: 10px;
  }
  .categories-container {
    display: block;
    padding: 10px;
  }
  .categories-container h2 {
    text-align: center;
  }
  .category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .category-top-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .category-top-list img {
    width: 49%;
  }
  .category-bottom-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .category-bottom-list img {
    width: 23%;
  }
  .pick-mood-section {
    padding: 40px 0;
  }
  /* .pick-mood img{
    width: 100%;
  } */

  .collection-section {
    display: none;
  }

  /* Bestseller */
  .newtoyou-Section {
    padding: 0;
    /* overflow-x: hidden; */
  }
  .titel {
    font-size: 14px;
  }

  .pick-mood-list {
    overflow-x: scroll; /* Ensure horizontal scroll on small screens */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    width: 100%;
  }

  .pick-mood {
    flex: 0 0 120px; /* Reduce the size of each mood item for smaller screens */
  }
  /* .pick-mood-section h2{
    font-size: 14px;
  } */

  .pick-mood p {
    font-size: 14px; /* Reduce the font size for smaller screens */
  }
  /* .newtoyou-hide{
    display: none;
  } */

  .newtoyou-Section2 {
    padding-bottom: 30px;
  }
  .newtoyou-main {
    overflow-y: hidden;
  }
  .newtoyou-container2 {
    width: 1000px;
    overflow: hidden;
    padding: 0;
  }
  .newtoyou-list2 {
    padding: 10px;
    width: 220px;
    gap: 0;
    align-items: start;
  }
  .newtoyou-box2 {
    gap: 0;
    justify-content: space-around;
    min-height: 0px;
  }
  .newtoyou-product-titel {
    display: none;
  }

  .price {
    display: block;
    margin-bottom: 5px;
  }
  /* gobeyou */

  .whatweProvide img {
    width: 100%;
  }

  /* labour */
  .labour-section {
    /* display: none; */
    background-image: url(img/labourimg2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50vh;
  }
  /* .labour-section-mobile{
    background-image: url(img/labourimg2.webp);
    background-position: center center;
    transition: background 0.15s;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    width: 100%;
  } */
  /* influncer */
  .influencer a {
    width: 48%;
  }
  /* awa */
  .awards img {
    margin-top: 30px;
    width: 30%;
  }
  /* footer */
  .footer-container {
    padding: 10px 0px;
    gap: 30px;
  }
  .footer-shop {
    margin-bottom: 20px;
  }
  .footer-logo {
    gap: 0px;
  }

  .footer-payment {
    flex-direction: column-reverse;
    align-items: start;
    padding: 40px 20px;
    gap: 20px;
  }
  .payment-option ul {
    gap: 8px;
  }
  .footer-payment p {
    padding-bottom: 30px;
  }
}
